
@{
    ViewBag.Title = "Ajax";
    Layout = "~/Views/Shared/common_generallayout.cshtml";
}
<div >
    <input type="number" id="txtnum1" placeholder="enter a number" /><br />
    <input type="number" id="txtnum2" placeholder="enter second number" /><br />
    <br /><br />
    <input type="button" value="add" id="btnadd" />
    <br /><br />
    <p id="para"></p>
</div>
<script>
    $(document).ready(function () {
        $("#btnadd").click(function () {
            num1 = parseInt($("#txtnum1").val());
            num2 = parseInt($("#txtnum2").val());
            var obj = { fnum: num1, snum: num2 };
            //ajax call
            $.getJSON("/General/addnum", obj, function (res) {
                $("#para").text(res);
            });
        });
    });
</script>

