
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/common_generallayout.cshtml";
}
<style>
    input, textarea {
        border-radius: 10px;
        resize: none;
    }
</style>
<!--strat contactus-->

<div class=" row" style="min-height:600px;">

    <h1 class="text-center p-4 text-info" style="font-family:'Times New Roman', Times, serif">Contact Us</h1>
    <hr />
    <div class="row">
        <div class=" col-sm-6 text-center" style="background-image: url('../../content/images/contact2.jpg'); height:400px; background-size:cover;background-position:center;">
            @*<form action="/General/ContactUs" method="post">
                <input type="text" name="tname" placeholder="Enter your name" /><br /><br />
                <input type="number" name="tmob" placeholder="Enter your moile number" /><br /><br />
                <input type="email" name="Email_id" placeholder="Enter your email" /><br /><br />
                <textarea name="txtquery" placeholder="Enter your query"></textarea><br /><br />
                <input type="submit" value="submit" />
            </form>*@


        </div>
        <div class=" col-sm-6">

            <address style="font-size:16px;">
                <i class="bi bi-house-door text-danger"></i>Rithari,kurara,Hamirpur,uttar pradesh(210505)
                <br />
                <i class="bi bi-telephone-fill text-primary"></i> +91 8766335304
                <br />
                <i class="bi bi-envelope text-danger"></i> kpajapati47455@gmail.com
            </address>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57378.82930987737!2d79.98174980625916!3d25.995024164350976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399d01444daec927%3A0x9d8519402f339675!2sKurara%20Rural%2C%20Uttar%20Pradesh%20210505!5e0!3m2!1sen!2sin!4v1753702702929!5m2!1sen!2sin" width="97%" height="300" style="border:2px solid gray;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>


</div>
