
@{
    ViewBag.Title = "Enquiry";
    Layout = "~/Views/Shared/common_generallayout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6 m-0 p-0">

            <img src="~/content/images/imagelogin.jpg" width=" 100%" />
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <h1 class="text-primary fw-bold text-center"
                        style="font-family: 'Times New Roman', Times, serif;">
                        Add Enquiry
                    </h1>
                    @ViewBag.Message
                    <form action="/General/Enquiry" method="post">
                        <input type="text" placeholder="Enter your name" name="Name"class="form-control" /><br />
                        <input type="email" placeholder="Enter your email" name="Email"class="form-control" /><br />
                        <input type="number" placeholder="Enter your mobno" name="Mobile_No" class="form-control" /><br />
                        <textarea placeholder="Enter your message" name="Message" class="form-control"></textarea><br />
                        <input type="submit" value="Add Enquiry" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

