
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/common_generallayout.cshtml";
}
<style>
    body {
        background-color: #99ccff;
    }
</style>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6 m-0 p-0">

            <img src="~/content/images/imagelogin.jpg" width=" 100%" />
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <h1 class="text-primary fw-bold text-center"
                        style="font-family: 'Times New Roman', Times, serif;">
                        User Login
                    </h1>
                    <form action="/General/Login" method="post" class="w-75 m-auto mt-3">
                        <div class="mb-3">
                            <label for="txtname" class="form-label">User Id :</label>
                            <input type="email" name="Email_id" class="form-control" id="txtname" aria-describedby="emailHelp"
                                   placeholder="enter your name">

                        </div>
                        <div class="mb-3">
                            <label for="Password1" class="form-label">Password:</label>
                            <input type="password" name="Pass" class="form-control" id="Password1"
                                   placeholder="enter your password">
                        </div>
                        <div class="mb-3">
                            <label for="examplesectoption" class="form-option">user type:</label>
                            <select name="UType" class="form-select mt-2" aria-label="Default select example">
                                <option selected> select User type </option>
                                <option value="ADMIN">ADMIN</option>
                                <option value="STUDENT">STUDENT</option>

                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary mt-3 w-100 fw-bold"
                                style="border-radius: 15px;" id="btn">
                            Login
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

