
@{
    ViewBag.Title = "AssignmentManagement";
    Layout = "~/Views/Shared/commn_admin_layout.cshtml";
}
<link href=" /content/mystyle/UploadloadAssignment.css" rel=" stylesheet" />
@using E_education.Models
@model List<Tbl_uploadAssignment>
    <div class=" row my-3">
        <div class=" col-sm-1"></div>
        <div class=" col-sm-10">
            <h3 class=" text-light bg-warning text-center p-4">View Assignment</h3>
            <table class=" table table-striped">
                <tr>
                    <th>Sno.</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Upload Date</th>
                    <th>Download</th>
                </tr>
                @{ 
                    int Sno = 1;
                    foreach (Tbl_uploadAssignment jm in Model)
            {
                <tr>
                    <td>@Sno</td>
                    <td>@jm.Title</td>
                    <td>@jm.Description</td>
                    <td>@jm.Upload_DT</td>
                    <td><a href=" /Admin/AdminDownloadAssignment?filename=@jm.FileName"> <i class="bi bi-download"></i></a></td>
                </tr>
                        Sno++;
                    }
                }

            </table>
        </div>
        <div class=" col-sm-1"></div>
    </div>


 
