
@{
    ViewBag.Title = "NotificationManagement";
    Layout = "~/Views/Shared/commn_admin_layout.cshtml";
}


@using E_education.Models
@model List<Tbl_Notification>
<body style="background-color: mediumpurple;">
    <div class="hero-section" data-aos="zoom-in" data-aos-duration="1000">
    <div class="hero-section" data-aos="zoom-in" data-aos-duration="1000"
         style="margin-top:40px; text-align: center; padding: 80px 20px; color: #fff; background: linear-gradient(135deg, #1a73e8, #0f4c75); border-radius: 10px; margin-bottom: 40px;">

        <h1 style="font-size: 40px; font-weight: bold; font-family: cursive;">Hi, I’m <strong>Um</strong></h1>
        <h2><span id="typed"></span></h2>
        <p style="font-size: 18px; margin-top: 10px; font-family: cursive;">.NET Full Stack Developer | Fast Learner |</p>
    </div>
    <div class="row my-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            @TempData["Message"]
            <h3 class="text-light bg-warning text-center p-4">View Assignment</h3>
            <table class="table table-striped">
                <tr>
                    <th>Sno.</th>
                    <th>NotificationManagement</th>
                    <th>AddedOn</th>
                    <th>Delete</th>
                </tr>
                @{
                    int Sno = 1;
                    foreach (Tbl_Notification jm in Model)
                    {
                        <tr>
                            <td>@Sno</td>
                            <td>@jm.Noti_Message</td>
                            <td>@jm.Noti_DT</td>

                            <td><a href="/Admin/DeleteNotification?id=@jm.Notification_Id"><i class="fa-solid fa-trash text-danger"></i></a></td>
                        </tr>
                        Sno++;
                    }
                }

            </table>
        </div>
        <div class="col-sm-1"></div>

    </div>
    </div>
</body>

