USE [EducationDB]
GO
/****** Object:  Table [dbo].[Admin_UploadAssignment]    Script Date: 06-08-2025 06:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_UploadAssignment](
	[Upload_id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Description] [varchar](400) NULL,
	[Upload_Dt] [varchar](150) NULL,
	[FileName] [varchar](250) NULL,
 CONSTRAINT [PK_Admin_UploadAssignment] PRIMARY KEY CLUSTERED 
(
	[Upload_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback_Tbl]    Script Date: 06-08-2025 06:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback_Tbl](
	[Feedback_Id] [int] IDENTITY(1,1) NOT NULL,
	[Topic] [varchar](100) NULL,
	[Message] [varchar](300) NULL,
	[UserId] [varchar](350) NULL,
	[Feedback_DT] [varchar](150) NULL,
 CONSTRAINT [PK_Feedback_Tbl] PRIMARY KEY CLUSTERED 
(
	[Feedback_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration_Master]    Script Date: 06-08-2025 06:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration_Master](
	[Email_id] [varchar](350) NOT NULL,
	[Name] [varchar](160) NULL,
	[Gender] [varchar](50) NULL,
	[College] [varchar](200) NULL,
	[Year] [varchar](150) NULL,
	[Course] [varchar](150) NULL,
	[Mobile_No] [varchar](15) NULL,
	[pic_Upload] [varchar](300) NULL,
	[DOB] [varchar](200) NULL,
	[Address] [varchar](400) NULL,
	[Pass] [varchar](400) NULL,
	[Registered_on] [varchar](150) NULL,
 CONSTRAINT [PK_Registration_Master] PRIMARY KEY CLUSTERED 
(
	[Email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Enquiry]    Script Date: 06-08-2025 06:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Enquiry](
	[Enquiry_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[Email] [varchar](160) NULL,
	[Mobile_No] [varchar](15) NULL,
	[Message] [varchar](300) NULL,
	[Enquiry] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Enquiry] PRIMARY KEY CLUSTERED 
(
	[Enquiry_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Login]    Script Date: 06-08-2025 06:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Login](
	[Email_id] [varchar](150) NOT NULL,
	[Pass] [varchar](360) NULL,
	[UType] [varchar](150) NULL,
 CONSTRAINT [PK_Tbl_Login] PRIMARY KEY CLUSTERED 
(
	[Email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Notification]    Script Date: 06-08-2025 06:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Notification](
	[Notification_Id] [int] NOT NULL,
	[Noti_Message] [varchar](150) NULL,
	[Noti_DT] [varchar](150) NULL,
 CONSTRAINT [PK_Tbl_Notification] PRIMARY KEY CLUSTERED 
(
	[Notification_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_uploadAssignment]    Script Date: 06-08-2025 06:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_uploadAssignment](
	[Upload_Id] [int] NOT NULL,
	[Title] [varchar](1500) NULL,
	[Description] [varchar](400) NULL,
	[Upload_DT] [varchar](150) NULL,
	[FileName] [varchar](250) NULL,
	[SubmittedBy] [varchar](350) NULL,
 CONSTRAINT [PK_Tbl_uploadAssignment] PRIMARY KEY CLUSTERED 
(
	[Upload_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_uploadstudyMaterial]    Script Date: 06-08-2025 06:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_uploadstudyMaterial](
	[Material_id] [int] NOT NULL,
	[Subject] [varchar](70) NULL,
	[title] [varchar](150) NULL,
	[Description] [varchar](400) NULL,
	[FileName] [varchar](200) NULL,
	[Upload_DT] [varchar](150) NULL,
 CONSTRAINT [PK_Tbl_uploadstudyMaterial] PRIMARY KEY CLUSTERED 
(
	[Material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin_UploadAssignment] ON 

INSERT [dbo].[Admin_UploadAssignment] ([Upload_id], [Title], [Description], [Upload_Dt], [FileName]) VALUES (1, N'topic of ce', N'dfjkjf', N'05-08-2025 16:11:18', N'smblgzs3.3h5_12953564_Data_security_02.jpg')
SET IDENTITY_INSERT [dbo].[Admin_UploadAssignment] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback_Tbl] ON 

INSERT [dbo].[Feedback_Tbl] ([Feedback_Id], [Topic], [Message], [UserId], [Feedback_DT]) VALUES (1, N'this session is good', N'this session is good', N'umasahu6387@gmail.com', N'05-08-2025 14:17:59')
INSERT [dbo].[Feedback_Tbl] ([Feedback_Id], [Topic], [Message], [UserId], [Feedback_DT]) VALUES (2, N'this session is good', N'this session is good', N'umasahu6387@gmail.com', N'05-08-2025 14:21:40')
INSERT [dbo].[Feedback_Tbl] ([Feedback_Id], [Topic], [Message], [UserId], [Feedback_DT]) VALUES (3, N'this session is good', N'this session is good', N'umasahu6387@gmail.com', N'05-08-2025 14:21:54')
SET IDENTITY_INSERT [dbo].[Feedback_Tbl] OFF
GO
INSERT [dbo].[Registration_Master] ([Email_id], [Name], [Gender], [College], [Year], [Course], [Mobile_No], [pic_Upload], [DOB], [Address], [Pass], [Registered_on]) VALUES (N'kprajapati47455@gmail.com', N'krishna', NULL, N'bsmhss sumerpur', N'Third', N'Bca', NULL, N'dj3f4d0i.zeg_logo.png.jpg', N'2007-05-21', N'vill_Rithari hamirpur', NULL, N'28-07-2025 21:03:34')
INSERT [dbo].[Registration_Master] ([Email_id], [Name], [Gender], [College], [Year], [Course], [Mobile_No], [pic_Upload], [DOB], [Address], [Pass], [Registered_on]) VALUES (N'umasahu6387@gmail.com', N'shivam kumar', N'Female', N'bsmhss sumerpur', N'Third', N'Mca', NULL, N'nxsn54q3.ryi_logo.png.jpg', N'2007-05-12', N'maudaha hamirpur"', NULL, N'03-08-2025 09:10:16')
GO
SET IDENTITY_INSERT [dbo].[Tbl_Enquiry] ON 

INSERT [dbo].[Tbl_Enquiry] ([Enquiry_id], [Name], [Email], [Mobile_No], [Message], [Enquiry]) VALUES (0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tbl_Enquiry] ([Enquiry_id], [Name], [Email], [Mobile_No], [Message], [Enquiry]) VALUES (1, N'krihna', NULL, N'38738787248', N'what is session', N'05-08-2025 16:59:56')
SET IDENTITY_INSERT [dbo].[Tbl_Enquiry] OFF
GO
INSERT [dbo].[Tbl_Login] ([Email_id], [Pass], [UType]) VALUES (N'kprajapati47455@gmail.com', N' 678', N' ADMIN')
INSERT [dbo].[Tbl_Login] ([Email_id], [Pass], [UType]) VALUES (N'umasahu6387@gmail.com', N' 6789:', N'STUDENT')
GO
INSERT [dbo].[Tbl_uploadAssignment] ([Upload_Id], [Title], [Description], [Upload_DT], [FileName], [SubmittedBy]) VALUES (0, NULL, N'first day', N'05-08-2025 13:25:03', N'ksjcnekz.e4u_FILE FRONT.docx', NULL)
GO
INSERT [dbo].[Tbl_uploadstudyMaterial] ([Material_id], [Subject], [title], [Description], [FileName], [Upload_DT]) VALUES (0, N'dfsg ddf  f', N'topic of c', N'dfsg ddf  f', N'z5dzcij3.de4_12953564_Data_security_02.jpg', N'05-08-2025 16:30:11')
GO
ALTER TABLE [dbo].[Feedback_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Tbl_Registration_Master] FOREIGN KEY([UserId])
REFERENCES [dbo].[Registration_Master] ([Email_id])
GO
ALTER TABLE [dbo].[Feedback_Tbl] CHECK CONSTRAINT [FK_Feedback_Tbl_Registration_Master]
GO
