
@{
    ViewBag.Title = "HDashboard";
    Layout = "~/Views/Shared/Common_Studentlayout.cshtml";
}
<style>
    h5{
        text-align:center;
    }
    a{
        text-decoration:none;
    }
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }
</style>
<div class="container">
    <div class="row pt-4 d-flex gap-3 justify-content-center align-items-center">
        <h1 class=" text-center fw-bold " style="color:cornflowerblue;font-family:'Times New Roman', Times, serif"> Welcome to Dashboard</h1>
        <div class="card py-4" style="width: 18rem;">
            <a href="/Student/ViewAssignment" class=" text-center"><h2><i class="bi bi-person-bounding-box"></i></h2></a>
            <div class="card-body">
              <a href="/Student/ViewAssignment "> <h5 class="card-title">View Assignment</h5></a>
              
            </div>
        </div>
        <div class="card py-4" style="width: 18rem;">
            <a href="/Student/ViewStudyMaterial" class=" text-center"><h2><i class="bi bi-person-bounding-box"></i></h2></a>
            <div class="card-body">
               <a href=" /Student/ViewStudyMaterial"> <h5 class="card-title">View Study Material</h5></a>
                 
            </div>
        </div>
        <div class="card py-4" style="width: 18rem;">
           <a href="/Student/UploadAssignment" class=" text-center"><h2><i class="bi bi-person-bounding-box"></i></h2></a>
            <div class="card-body">
               <a href=" /Student/UploadAssignment"> <h5 class="card-title">Upload Assignment</h5></a>
                 
            </div>
        </div>
        <div class="card py-4" style="width: 18rem;">
            <a href="/Student/Feedback" class=" text-center"><h2><i class="bi bi-person-bounding-box"></i></h2></a>
            <div class="card-body">
               <a href=" /Student/Feedback"> <h5 class="card-title">Feedback</h5></a>
                 
            </div>
        </div>
        <div class="card py-4" style="width: 18rem;">
            <a href="/Student/MyProfile" class=" text-center"><h2><i class="bi bi-person-bounding-box"></i></h2></a>
            <div class="card-body">
               <a href=" /Student/MyProfile"> <h5 class="card-title">My Profile</h5></a>
                
            </div>
        </div>
        <div class="card py-4" style="width: 18rem;">
            <a href="/Student/ChangePassword" class=" text-center"><h2><i class="bi bi-person-bounding-box"></i></h2></a>
            <div class="card-body">
                <a href=" /Student/ChangePassword"><h5 class="card-title">Change Password</h5></a>
                
            </div>
        </div>
        
         

    </div>


</div>

