
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/commn_admin_layout.cshtml";
}

 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Form</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .login-card:hover {
            transform: scale(1.02);
            transition: all 0.3s ease-in-out;
            /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); */
        }

        textarea:focus {
            border-color: #0d6efd;
            /* box-shadow: 0 0 5px rgba(13, 110, 253, 0.5); */
        }

        button:hover {
            background-color: #004bbd !important;
        }

       
       
    </style>
</head>
<body style=" background-color: #b3d1ff">
    <div class="container-fluid">
        <div class="row justify-content-center login-card max-auto mb-5">
            <div class="col-12 col-sm-8 col-lg-6">
                <div class="mt-5 p-4 border border-dark rounded" style="background-color: #66a3ff;box-shadow:5px 5px 5px blue; border-radius: 20px;">
                    <form action="/Admin/ChangePassword" method="post">
                        <div class="text-center sm-4 d-flex justify-content-center align-items-center gap-3" style="margin-bottom: 20px;">
                            <i class="fa-solid fa-key" style="font-size: 40px;"></i>
                            <h2 class="m-0 ">Confirm Password</h2>
                            <p class="text-center bg-success">@ViewBag.Message</p>
                        </div>

                        <div class="mb-3">
                            <label for="pass" class="form-label">Enter Current Password</label>
                            <input type="password" class="form-control" id="pass" name="CurrPass" required>
                            <br>
                            <label for="newpass" class="form-label"> New Password</label>
                            <input class="form-control" type="password" id="newpass" name="NewPass">
                            <br>
                            <label for="cpass" class="form-label">Confirn new Password</label>
                            <input class="form-control" type="password" id="cpass" name="ConfPass">
                            <br>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary ">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>