
@{
    ViewBag.Title = "SendEmail";
    Layout = "~/Views/Shared/commn_admin_layout.cshtml";
}
 
<style>
    .form-control {
        margin-bottom: 8px;
    }
</style>
<body style="background: linear-gradient(120deg, #6a11cb 0%, #2575fc 100%);">
    <div class="hero-section" data-aos="zoom-in" data-aos-duration="1000">
    <div class="hero-section" data-aos="zoom-in" data-aos-duration="1000"
         style="margin-top:40px; text-align: center; padding: 80px 20px; color: #fff; background: linear-gradient(135deg, #1a73e8, #0f4c75); border-radius: 10px; margin-bottom: 40px;">

        <h1 style="font-size: 40px; font-weight: bold;font-family:'Times New Roman', Times, serif"> <strong>Send Email Module</strong></h1>
        <h2><span id="typed"></span></h2>
        <p style="font-size: 18px; margin-top: 10px; font-family:'Times New Roman', Times, serif;font-size:18px;">This module manage send email module!</p>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <p class="bg-success text-light text-center p-3 h-3">Send Email</p>
            <h3 class="text-warning text-center">@ViewBag.Message</h3>
            <form action="/Admin/SendEmail" method="post">
                <input type="email" placeholder="Please Enter Student EmailId" name="SenderEmail" class="form-control" />
                <input type="text" class="form-control" placeholder="Enter subject for email" name="Subject" />
                <textarea placeholder="Enter Message" rows="4" name="Message" class="form-control" style="resize:none;"></textarea>
                <input type="submit" value="SendEmail" class="btn btn-success" />
                <br />
            </form>
        </div>
        <div class="col-sm-3"></div>

    </div>
    </div>
</body>


